@import 'tailwindcss';

* {
  scroll-behavior: smooth;
}

html {
  @apply hide-scrollbar;
}

body {
  background-color: var(--color-bg);
  font-family: var(--font-poppins);
}

dialog::backdrop {
  @apply bg-black/50;
}

@theme {
  --font-poppins: 'Poppins', sans-serif;

  --breakpoint-slg: 56rem;

  --my-grid-cols: repeat(auto-fit, minmax(230px, 1fr));

  --header-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
  --modal-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

  --color-bg: #0c1115;
  --color-bg-secondary: #11161a;
  --color-primary: #3ac86a;
  --color-secondary: #afe9c2;
  --color-hover: #20262c;
}

@layer utilities {
  .gradient-overlay {
    background-image: linear-gradient(to bottom, transparent 80%, var(--color-bg) 100%),
      linear-gradient(to bottom, transparent 80%, var(--color-bg) 100%),
      linear-gradient(#0c111500, #0c11158a);
  }

  .gradient-overlay-sm {
    background-image: linear-gradient(to bottom, transparent 80%, var(--color-bg) 100%),
      linear-gradient(to bottom, transparent 95%, var(--color-bg) 100%),
      linear-gradient(to left, transparent 95%, var(--color-bg)),
      linear-gradient(to left, transparent 80%, var(--color-bg)),
      linear-gradient(#0c111500, #0c11158a);
  }

  .label-form {
    @apply text-lg font-semibold tracking-wide absolute left-4 top-1/2 -translate-y-1/2 pointer-events-none transition-all duration-300;
  }

  .input-form {
    @apply bg-(--color-bg) relative border-(--color-primary) shadow-sm outline-0 w-full px-4 pt-5 pb-1 transition-all duration-300;
  }
}

@utility hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
